:root {
  --brand-color: #7f6342;
  --text-color: #0d0d0d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/*---------------Nav Bar----------------*/

nav {
  position: sticky;
  top: 0;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  height: 88px;
  align-items: center;
  background-color: white;
  z-index: 500;
  border-bottom: 1px solid hsl(0, 0%, 95%);
}

.search-box input {
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 85%);
  padding: 8px;
}
.search-box input:focus {
  outline: none;
}

.search-box input::placeholder {
  font-size: 16px;
}

nav i {
  color: rgb(51, 51, 51);
  font-size: 24px;
}

.logo {
  font-size: 32px;
  color: var(--brand-color);
  font-weight: 600;
}

.nav-icons i {
  padding-left: 12px;
  cursor: pointer;
}
.nav-icons i:hover {
  color: var(--brand-color);
}
/*---------------Sidebar----------------*/
.sidebar {
  position: fixed;
  top: 0;
  left: -430px;
  width: 430px;
  height: 100vh;
  padding: 24px;
  background-color: hsl(33, 20%, 95%);
  transition: 0.3s ease;
  z-index: 1000;
  height: 100vh;
  overflow-y: scroll;
}

.sidebar.active {
  left: 0;
}
.sidebar #close-sidebar {
  cursor: pointer;
  font-size: 24px;
  display: block;
  text-align: right;
}
.sidebar h4 {
  color: var(--brand-color);
  margin-bottom: 8px;
}
.sidebar ul {
  margin-bottom: 16px;
}
.sidebar li {
  list-style: none;
}
.sidebar .contact li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sidebar .social {
  display: flex;
  gap: 16px;
}
.sidebar .social i {
  font-size: 24px;
}
.sidebar .facebook,
.sidebar .twitter,
.sidebar .linkedin {
  color: #2062b9;
}

/*---------------Overlay----------------*/
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 900;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}
/*---------------Categories----------------*/

.categories {
  margin: 56px 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
  gap: 20px;
  justify-content: center;
}
.category {
  position: relative;
  transition: 0.5s ease;
}
.category:hover {
  transform: scale(1.1);
}
.category img {
  width: 100%;
  height: 300px;
}
.category-info {
  position: absolute;
  top: 24px;
  left: 24px;
}

/*---------------Media Queries----------------*/
@media (max-width: 768px) {
  nav {
    padding: 0 24px;
    position: relative;
    justify-content: center;
  }

  .search-box {
    display: none;
  }

  .nav-icons i:not(.fa-bars) {
    display: none;
  }

  .nav-icons {
    position: absolute;
    left: 20px;
  }

  .logo {
    font-size: 24px;
  }
  .sidebar {
    width: 300px;
    left: -300px;
    position: fixed;
  }
}
